.body_bg{
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-image: url("imgs/bg.gif");
	background-position: top center;
	background-color: #eeeeee;
	text-align: center;
}
.top_line {
	height: 30px;
	text-align: right;
	margin: 0px;
	padding-right:10px;
	padding-left: 0px;
	background-image: url("imgs/top_line_bg.png");
}
.footer{
	width: 100%;
	height: 30px;
	text-align: center;
	background-color: green;
}
.menu_bg,
.content{
	width: 955px;
	margin-left: auto;
	margin-right: auto;
	background-color:#eeeeee;
}
.menu_bg{
	height: 100px;
	text-align:left;
}

div#navigator{
	position:absolute;
	top:78px;
	top: expression('98px');
	height:30px;
}

#nav-menu  ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
#nav-menu li,
#nav-menu span,
#nav-menu-act li{
	display:block;
	float: left;
	margin: 0 5px;
	width: 120px;
	height: 24px;
	padding-top: 4px;
	text-align: center;
	background-repeat: no-repeat;
	background: url("imgs/nav_menu_bg.png");
}
table#nav-tbl{
	border:0;
	height: 24px;
	padding: 0px;
	border-spacing: 10px;
}
#nav-tbl td{
	background-repeat: no-repeat;
	background: url("imgs/nav_menu1_bg.png");
	width: 180px;
	height:24px;
	text-align: center;
	padding:0;	
}

#nav-menu  a:link,
#nav-menu  a:visited
{
	color:#176a1d;
	text-align:center;
	padding-top:4px;
	text-decoration:none;
	font-weight: bold;

    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

#nav-menu-act  a:link,
#nav-menu-act  a:visited
{
	color:#FF6a1d;
	text-align:center;
	padding-top:4px;
	text-decoration:none;
	font-weight: bold;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 12px;
}

.about_content,
.authors_content,
.dict_content,
.experiment_contnt
{
    background-color:#eeeeee;
    text-align: left;
    padding: 10px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
}

#dict_menu{

    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
.dict,
.dict a:visited,
.dict a:link{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-decoration: none;
    font-weight: normal;
    color:#176a1d;
}
.dict_act,
.dict_act a:visited,
.dict_act a:link
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;

    color:#FF6a1d;
}
.search_result,
.search_criteria{

    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
    border:0;
}
.criteria{
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
}
.abc{
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color:black;
    height: 30px;
}
.abc_link, .db_link{
    color:#176a1d;
    cursor:pointer;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
#results{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

#search_area,
#search_res{
	text-align:left;
	padding: 2px;
	margin: 10px;
}

.result{

    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    border-width:1px;
}
.about_content p,
.authors_content p{

    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-align: justify;
}

.fs{
    
    border-right-color: green;
    border-left-color: green;
    border-bottom-color: green;
    border-top-color: green;
}

.sort{
	border:0;
	padding:0;
	vertical-align: middle;
	cursor:pointer;
}

.experiment_links{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	text-align: left;
}
.dict1,
.dict1 a:visited,
.dict1 a:link{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
    color:#176a1d;
}

.bdict_selector, .rdict_selector{  
     position:absolute; /* important so we can position it on center later */  
     display:none; /* don't show it */  
   
     /* styling bellow */  
     color:white;  
}  
#bd_selector, .db_selector{  
     position:absolute; /* important so we can position it on center later */  
     display:none; /* don't show it */  
   
     /* styling bellow */  
     color:white;  
}  
   
/* style a specific modal window  */  
#bdict_selector, #rdict_selector, #db_selector{  
     padding:50px;  
     border:1px solid gray;  
     background: #eeeeee;  
     color: green;  
	 text-align: left;
}  
#mask{  
    position:absolute; /* important */  
    top:0px; /* start from top */  
    left:0px; /* start from left */  
    height:100%; /* cover the whole page */  
    width:100%;  /* cover the whole page */  
    display:none; /* don't show it '*/  
  
    /* styling bellow */  
    background-color: white;  
} 
.order,
.order a:visited,
.order a:link{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
    color:#176a1d;
}

 
#abc_order,
#stim_order,
#resp_order,
#word_order,
#rword_order {
    display:none; /* don't show it '*/  
}
